<%=  link to: @path, class: "card mt-1 mb-1 col-md-6 col-lg-4 text-dark bg-light", style: "text-decoration: none;" do %>
    <div class="card-body">
        <h6 class="card-title font-weight-bold"><%= @title %></h6>
        <p class="card-text text-truncate">
            <%= @text %>
        </p>
        <div class="row">
            <div class="mx-auto">
                <%= if @badge1 != "" do %>
                    <span class="badge badge-dark mr-1">
                        <% bid_price = @badge1
                        |> Decimal.round(2)
                        |> Decimal.to_string(:normal)
                        %>
                        <%= "$" <> bid_price %>
                    </span>
                <% end %>
                <%= if @badge2 != "" do %>
                    <span class="badge badge-dark mr-1">
                        <%= @badge2 %>
                    </span>
                <% end %>
                <%= if @badge3 != "" do %>
                    <span class="badge badge-dark">
                        <%= @badge3 %>
                    </span>
                <% end %>
            </div>
        </div>
        <div class="row">
            <span class="badge col text-center mt-3"><%= @clicktip %></span>
        </div>
    </div>
<% end %>
