<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :bid_price, class: "control-label" %>
    <%= number_input f, :bid_price, step: "any", class: "form-control" %>
    <%= error_tag f, :bid_price %>
  </div>

  <div class="form-group">
    <%= label f, :comment, class: "control-label" %>
    <%= text_input f, :comment, class: "form-control" %>
    <%= error_tag f, :comment %>
  </div>

  <div class="form-group">
    <%= label f, :is_accepted, class: "control-label" %>
    <%= checkbox f, :is_accepted, class: "checkbox", readonly: true %>
    <%= error_tag f, :is_accepted %>
  </div>

  <div class="form-group">
    <%= label f, :job_id, class: "control-label" %>
    <%= number_input f, :job_id, step: "any", class: "form-control", readonly: true %>
    <%= error_tag f, :job_id %>
  </div>

  <div class="form-group">
    <%= label f, :user_id, class: "control-label" %>
    <%= number_input f, :user_id, step: "any", class: "form-control", readonly: true %>
    <%= error_tag f, :user_id %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
