<h2>Listing Bids</h2>

<table class="table">
  <thead>
    <tr>
      <th>Bid price</th>
      <th>Comment</th>
      <th>Is accepted</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for bid <- @bids do %>
    <tr>
      <td><%= bid.bid_price %></td>
      <td><%= bid.comment %></td>
      <td><%= bid.is_accepted %></td>

      <td class="text-right">
        <span><%= link "Show", to: bid_path(@conn, :show, bid), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: bid_path(@conn, :edit, bid), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: bid_path(@conn, :delete, bid), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
