<% badge3 = if @bid.is_accepted, do: "Accepted", else: "Pending"
{path, clicktip} = if @bid.user_id == @conn.assigns.user.id do
{bid_path(@conn, :edit, @bid), "Click to edit or delete"}
else
{bid_path(@conn, :show, @bid), ""}
end %>

<%= render(ViablehireWeb.BidView,
    "_card.html",
    path: path,
    title: "Bid for " <> @bid.job.title,
    text: @bid.comment,
    clicktip: clicktip,
    badge1: @bid.bid_price,
    badge2: "",
    badge3: badge3)
%>

<%= if @bid.is_accepted do %>
    <div class="container-fluid"
         id="msg-board"
         style="height: 50vh;
                overflow: auto;">

        <%= for message <- @bid.conversation.messages do %>
            <%= if message.sender_id == @conn.assigns.user.id do %>

                <div class="row mb-2 justify-content-start">
                    <div class="card border-0 col-7 p-3 ml-4 text-center"
                          style="border-radius: 10px;
                                background-color: mediumblue;
                                position:relative;">
                        <div style="height: 0;
                                    width: 0;
                                    border-top: 0px solid transparent;
                                    border-bottom: 20px solid transparent;
                                    border-right: 30px solid mediumblue;
                                    position: absolute;
                                    top: 0px;
                                    left: -4%;"></div>
                        <h6 class="card-title text-left text-light font-weight-bold">
                            <%= message.user.nickname %>
                        </h6>
                        <span class="text-white"><%= message.content %></span>
                    </div>
                </div>

            <% else %>

                <div class="row mb-2 justify-content-end">
                    <div class="card border-0 col-7 mr-4 p-3 text-center"
                         style="border-radius: 10px;
                                background-color: silver;
                                position:relative;">
                        <div style="height: 0;
                                    width: 0;
                                    border-top: 0px solid transparent;
                                    border-bottom: 20px solid transparent;
                                    border-left: 30px solid silver;
                                    position: absolute;
                                    top: 0px;
                                    left: 96%;"></div>
                        <h6 class="card-title text-right text-success font-weight-bold">
                            <%= message.user.nickname %>
                        </h6>
                        <span><%= message.content %></span>
                    </div>
                </div>

            <% end%>
        <% end %>

    </div>
    <form id="msg-input">
        <input type="text" id="msg-content">
        <input type="submit" value="Submit" id="msg-submit">
    </form>
    <template id="self-msg">
        <div class="row mb-2 justify-content-start">
            <span class="col-2 mr-2 text-center">
            </span>
            <span class="card col-7 p-3 text-white text-center"
                  style="border-radius: 10px;
                         background-color: mediumblue;">
            </span>
        </div>

    </template>
    <template id="other-msg">
        <div class="row mb-2 justify-content-end">
            <span class="card col-7 mr-2 p-3 text-center"
                  style="border-radius: 10px;
                         background-color: silver;">
            </span>
            <span class="col-1 text-center">
            </span>
        </div>
    </template>
<% end %>

<%= cond do %>
    <% @conn.assigns.user.id == @bid.user_id -> %>
    <span>This is your bid. You can edit or delete it:</span><br>
    <span><%= link "Edit", to: bid_path(@conn, :edit, @bid) %></span><br>
    <span><%= link "Delete", to: bid_path(@conn, :delete, @bid), method: :delete, data: [confirm: "Are you sure?"] %></span><br>

    <% @conn.assigns.user.id == @bid.job.user_id -> %>
    <span>You are the job poster for this bid.</span><br>
    <%= if @bid.is_accepted,
    do: link("Unaccept", to: bid_path(@conn, :unaccept_bid, @bid)),
    else: link("Accept", to: bid_path(@conn, :accept_bid, @bid)) %>

    <% true -> %>
    <span>This is another person's bid.</span><br>
<% end %>
