<% badge2 = if NaiveDateTime.compare(@p.conversation.updated_at, @p.updated_at) == :gt, do: "Unread", else: "" %>
<%= render ViablehireWeb.BidView,
"_card.html",
path: bid_path(@conn, :show, @p.conversation.bid),
title: @p.conversation.bid.job.title,
text: "Chatting with " <> hd(@p.conversation.participants).user.nickname,
clicktip: "Click for details",
badge1: @p.conversation.bid.bid_price,
badge2: badge2,
badge3: if @p.conversation.bid.is_accepted, do: "Accepted", else: "Pending"
%>
