<%= render ViablehireWeb.BidView,
"_card.html",
path: bid_path(@conn, :show, @b),
title: @b.job.title,
text: @b.comment,
clicktip: "Click for details",
badge1: @b.bid_price,
badge2: "",
badge3: if @b.is_accepted, do: "Accepted", else: "Pending"
%>
