<%= link to: @path, class: "card mt-1 mb-1 col-md-4 text-dark bg-light", style: "text-decoration: none;" do %>
    <div class="card-body">
        <h6 class="card-title font-weight-bold"><%= @title %></h6>
        <p class="card-text text-truncate">
            <%= @text %>
        </p>
        <div class="row" style="height: 1rem;">
            <div class="col-6">
                <span class="badge badge-dark"><%= @badge1 %></span>
            </div>
            <div class="col-6">
                <span class="badge badge-dark"><%= @badge2 %></span>
            </div>
        </div>
        <div class="row">
            <span class="badge col text-center mt-3">Click for details</span>
        </div>
    </div>
<% end %>
