<%= if Enum.count(@self_jobs) > 0 do %>
    <div class="card mt-2 mb-2 col bg-light p-3">
        <div class="container-fluid">
            <%= if Enum.count(@participations_bids_you_accepted) > 0 do %>
                <h5 class="card-title">Bids You Accepted</h5>
                <div class="row">
                    <%=  render_many @participations_bids_you_accepted, ViablehireWeb.PageView, "_bid_you_accepted.html", as: :p, conn: @conn %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="card mt-2 mb-2 col bg-light p-3">
        <div class="container-fluid">
            <h5 class="card-title">Your Posted Jobs</h5>
            <div class="row">
                <%= render_many @self_jobs, ViablehireWeb.PageView, "_job_you_posted.html", conn: @conn, as: :j %>
            </div>
        </div>
    </div>
<% end %>

<%= if Enum.count(@participations_your_accepted_bids) > 0 do %>
    <div class="card mt-2 mb-2 col bg-light p-3">
        <div class="container-fluid">
            <h5 class="card-title">Your Accepted Bids</h5>
            <div class="row">
                <%=  render_many @participations_your_accepted_bids, ViablehireWeb.PageView, "_accepted_bid.html", as: :p, conn: @conn %>
            </div>
        </div>
    </div>
<% end %>

<%= if Enum.count(@self_bids_pending_acceptance) > 0 do %>
    <div class="card mt-2 mb-2 col bg-light p-3">
        <div class="container-fluid">
            <h5 class="card-title">Your Bids Pending Acceptance</h5>
            <div class="row">
                <%=  render_many @self_bids_pending_acceptance, ViablehireWeb.PageView, "_bid_pending_acceptance.html", as: :b, conn: @conn %>
            </div>
        </div>
    </div>
<% end %>

<div class="container-fluid">
    <div class="row">
        <%= link "Available Jobs", to: job_path(@conn, :index), class: "btn btn-dark btn-block col-3" %>
        <%= link "Post Job", to: job_path(@conn, :new), class: "btn btn-dark btn-block col-3 mt-0" %>
        <%= link "Post Job", to: job_path(@conn, :new), class: "btn btn-dark btn-block col-3 mt-0" %>
        <%= link "Post Job", to: job_path(@conn, :new), class: "btn btn-dark btn-block col-3 mt-0" %>
    </div>
</div>
