<%= link to: @path, class: "card mt-1 mb-1 col-md-6 col-lg-4 text-dark bg-light", style: "text-decoration: none;" do %>

    <div class="card-body">
        <h6 class="p-1 card-title font-weight-bold text-capitalize"><%= @title %></h6>
        <p class="card-text <%= @truncate %>"><%= @description %></p>
        <div class="row">
            <span class="col <%= @truncate %>">Location: <%= @address %></span>
        </div>
        <div class="row">
            <span class="col-sm-6 col-xs-12">Date: <%= @job_date %></span>
            <span class="col-sm-6 col-xs-12">Time: <%= @job_time %></span>
        </div>
        <div class="row">
            <span class="col-sm-6 col-xs-12">Duration: <%= @duration %> hour(s)</span>
            <span class="col-sm-6 col-xs-12">Vacancies: <%= @vacancies %></span>
        </div>
        <div class="row">
            <div class="mx-auto">
                <span class="badge badge-dark mr-1">
                    <%= case @bids_count do
                    1 -> "1 bid"
                    n -> inspect(n) <> " bids"
                    end %>
                </span>

                <span class="badge badge-dark">
                    <%= "Average bid $" <> @average_bid_price %>
                </span>
            </div>
        </div>
        <div class="row">
            <span class="badge text-center col mt-3"><%= @note %></span>
        </div>
    </div>
<% end %>
