<%= form_for @changeset, @action, fn f -> %>
<% IO.inspect f %>
<%= if @changeset.action do %>
    <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
<% end %>

<div class="form-group">
    <%= label f, :title, class: "control-label" %>
    <%= text_input f, :title, class: "form-control border-0" %>
    <%= error_tag f, :title %>
</div>

<div class="form-group">
    <%= label f, :description, class: "control-label" %>
    <%= text_input f, :description, class: "form-control border-0" %>
    <%= error_tag f, :description %>
</div>

<div class="form-group">
    <%= label f, :job_date, class: "control-label" %>
    <%= text_input f, :job_date, class: "form-control border-0", style: "box-shadow:  5px 10px #888888;" %>
    <%= error_tag f, :job_date %>
</div>

<div class="form-group">
    <%= label f, :job_time, class: "control-label" %>
    <%= time_select f, :job_time, builder: fn b -> %>
    <div class="form-inline">
        <%= b.(:hour, [class: "form-control custom-select border-0"]) %>
        <b>:</b>
        <%= b.(:minute, [options: ["00", "30"], class: "form-control custom-select border-0"]) %>
        <i class="fas fa-angle-up btn btn-light" id="timeup"></i>
        <i class="fas fa-angle-down btn btn-light" id="timedown"></i>
    </div>
    <% end %>
    <%= error_tag f, :job_time %>
</div>

<div class="form-group">
    <%= label f, :address, class: "control-label" %>
    <%= text_input f, :address, class: "form-control border-0" %>
    <%= error_tag f, :address %>
</div>

<div class="form-group">
    <%= label f, :duration, class: "control-label" %>
    <%= number_input f, :duration, class: "form-control border-0" %>
    <%= error_tag f, :duration %>
</div>

<div class="form-group">
    <%= label f, :number_of_hires, class: "control-label" %>
    <%= number_input f, :number_of_hires, class: "form-control border-0" %>
    <%= error_tag f, :number_of_hires %>
</div>

<div class="form-group">
    <%= label f, :user_id, class: "control-label" %>
    <%= number_input f, :user_id, class: "form-control border-0" %>
    <%= error_tag f, :user_id %>
</div>

<div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
</div>
<% end %>
