<div class="card mt-2 mb-2 col bg-light p-3">
    <div class="container-fluid">
        <h5 class="card-title">All Available Jobs</h5>
        <div class="row">
            <%= for j <- @jobs do %>
                <%= render "_job_show_card.html",
                path: job_path(@conn, :show, j),
                note: "Click for details",
                title: j.title,
                truncate: "text-truncate",
                description: j.description,
                address: j.address,
                job_date: j.job_date,
                job_time: Time.truncate(j.job_time, :second),
                duration: j.duration,
                bids_count: j.bids_count,
                average_bid_price: j.bid_ave_price,
                vacancies: j.number_of_hires
                %>
            <% end %>
        </div>
    </div>
</div>
