<% {path, note} = cond do
@conn.assigns.user.id == @job.user_id -> {job_path(@conn, :edit, @job), "Click to edit or delete"}
@self_bid -> {job_path(@conn, :show, @job), "Already placed bid"}
true -> {bid_path(@conn, :new, @job.id), "Click to place bid"}
end %>
<div class="card mt-2 mb-2 bg-light p-3">
    <div class="container-fluid">
        <div class="row">
            <%= render("_job_show_card.html",
                path: path,
                note: note,
                title: @job.title,
                truncate: "",
                description: @job.description,
                address: @job.address,
                job_date: @job.job_date,
                job_time: Time.truncate(@job.job_time, :second),
                duration: @job.duration,
                bids_count: @job.bids_count,
                average_bid_price: @job.bid_ave_price,
                vacancies: @job.number_of_hires) %>

            <div class="row container-fluid">
                <%= for b <- @bids do %>
                    <%= render ViablehireWeb.BidView, "_card.html",
                    path: bid_path(@conn, :show, b),
                    title: "Bid " <> inspect(b.id),
                    text: b.comment,
                    clicktip: "Click for details",
                    badge1: b.bid_price,
                    badge2: "",
                    badge3: if b.is_accepted, do: "Accepted", else: "Pending"
                    %>
                <% end %>
            </div>
        </div>
    </div>
</div>
