<header class="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <%= link "Aelper", to: page_path(@conn, :dashboard), class: "navbar-brand font-weight-bold" %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <%= if @conn.assigns.user do %>
                <span class="navbar-text ml-auto badge badge-light text-dark">Welcome <%= @conn.assigns.user.nickname %></span>
            <% end %>
            <ul class="navbar-nav ml-auto">
                <%= if @conn.assigns.user do %>
                    <li class="nav-item">
                        <a class="nav-link" href=<%= job_path(@conn, :index) %>>Available Jobs</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href=<%= page_path(@conn, :dashboard) %>>Dashboard</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href=<%= job_path(@conn, :new) %>>Post Job</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href=<%= auth_path(@conn, :logout) %>>Logout</a></li>

                <% else %>
                        <li class="nav-item">
                            <a class="nav-link" href=<%= auth_path(@conn, :request, "auth0") %>>Login/Register</a></li>
                <% end %>
            </ul>
        </div>
    </nav>
</header>
